<section class="-mt-[80px] relative">
  <div class="container">
    <ng-container *ngIf="isError">
      <h2>Algo salio mal!</h2>
    </ng-container>

    <ng-container *ngIf="isLoading; else successBlock">
      <ul class="grid grid-cols-4 gap-5">
        <li>
          <article class="aspect-video bg-gray-6 rounded-md"></article>
        </li>
        <li>
          <article class="aspect-video bg-gray-6 rounded-md"></article>
        </li>
        <li>
          <article class="aspect-video bg-gray-6 rounded-md"></article>
        </li>
      </ul>
    </ng-container>

    <ng-template #successBlock>
      <ul class="grid grid-cols-4 gap-5">
        <ng-container *ngFor="let item of data">
          <li>
            <serie-card
              [showBookmark]="false"
              aspectRatio="rectangle"
              [title]="item.name"
              [img]="item.thumbnail"
              [body]="'Episodio ' + item.order"
            ></serie-card>
          </li>
        </ng-container>
      </ul>
    </ng-template>
  </div>
</section>
