@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --gray1: 22 22 22;
    --gray2: 28 28 28;
    --gray3: 35 35 35;
    --gray4: 40 40 40;
    --gray5: 46 46 46;
    --gray6: 52 52 52;
    --gray7: 62 62 62;
    --gray8: 80 80 80;
    --gray9: 112 112 112;
    --gray10: 126 126 126;
    --gray11: 160 160 160;
    --gray12: 237 237 237;

    --brand1: 15 23 32;
    --brand2: 15 27 45;
    --brand3: 16 36 62;
    --brand4: 16 42 76;
    --brand5: 15 48 88;
    --brand6: 13 56 104;
    --brand7: 10 68 129;
    --brand8: 9 84 165;
    --brand9: 0 145 255;
    --brand10: 54 158 255;
    --brand11: 82 169 255;
    --brand12: 235 246 255;

    --red1: 31 19 21;
    --red2: 41 20 21;
    --red3: 60 24 26;
    --red4: 72 26 29;
    --red5: 84 27 31;
    --red6: 103 30 34;
    --red7: 130 32 37;
    --red8: 170 36 41;
    --red9: 229 72 77;
    --red10: 242 85 90;
    --red11: 255 99 105;
    --red12: 254 236 238;
  }

  html,
  body {
    @apply font-base bg-contrast-fillHi text-contrast-textHi;
  }

  h1,
  h2,
  h3,
  h4,
  h4,
  h6 {
    @apply font-bold;
  }
}

@import "./components/button";
@import "./components/input";
